@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu > a {
  display: inline-block;
  color: #6e6d7a;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11.05px;
  letter-spacing: 0.663px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
}

.navbar-menu > a:not(:last-child) {
  margin-right: 31px;
}

.navbar-menu > a:hover {
  color: #383938;
}

.navbar-menu > a:last-child {
  border-radius: 8px;
  background: #f5f6f9;
  padding: 15px 30px;
}

.hero-section {
  padding-top: 150px;
  text-align: center;
}

.hero-section h1 {
  margin-bottom: 56px;
  color: #383938;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 78px;
  letter-spacing: 3.12px;
}

.hero-img {
  width: 100%;
}

.benefits-container {
  margin-top: 210px;
  display: flex;
  justify-content: space-between;
}

.benefit-item {
  width: 20%;
  text-align: left;
  border-left: 1px solid #edeef3;
  padding-left: 51px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.benefit-item > img {
  width: 70px;
  height: 70px;
}

.benefit-item > p {
  margin-top: 37px;
  color: #6e6d7a;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
}

.particular-section {
  margin-top: 230px;
  text-align: center;
}

.particular-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.particular-item:not(:first-child) {
  margin-top: 260px;
}

.particular-item h2 {
  color: #383938;
  font-size: 33px;
  line-height: 52px;
  letter-spacing: 1.5px;
}
.particular-item h3 {
  margin: 0 auto;
  margin-top: 25px;
  color: #6e6d7a;
  font-size: 16px;
  line-height: 29px;
  width: 37%;
}

.particular-img-container {
  margin-top: 72px;
  padding: 130px 0;
  background-color: #f0f2fa;
}

.particular-img-container.two-images {
  background-color: transparent;
  padding: 0;
}

.things-section {
  margin-top: 260px;
  margin-bottom: 50px;
}

.section-title {
  color: #383938;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.65px;
  letter-spacing: 1.56px;
  margin-bottom: 80px;
}

.benefit-item > h3 {
  margin: 30px 0 15px;
  color: #383938;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.76px;
}

.things-section > .benefits-container {
  flex-wrap: wrap;
  gap: 25px;
  row-gap: 60px;
}

.things-section > .benefits-container > .benefit-item {
  width: 27%;
}

.features-button {
  color: #6e6d7a;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 11.7px;
  letter-spacing: 2.34px;
  text-transform: uppercase;
  padding: 24px 47px;
  border-radius: 8px;
  border: 1px solid #edeef3;
  background-color: #fff;
  cursor: pointer;
  margin-top: 80px;
}

.features-button-container {
  text-align: center;
}

.download-section {
  text-align: center;
  margin-top: 200px;
}

footer.container {
  padding-top: 80px;
  margin-bottom: 50px;
  margin-top: 130px;
  border-top: 1px solid #edeef3;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.footer-menu > h3,
.footer-menu > a,
.copyright > p {
  color: #6e6d7a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  text-decoration: none;
  transition: 0.5s;
}

.copyright > p {
  margin-top: 20px;
}

.footer-menu > a:hover {
  color: black;
}
